body {
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
	max-width: 1000px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

header, footer {
	width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
}

.logo {
	margin-left: 20px;
	height: 50px;
	width: 50px;
	background-image: url("../images/icon.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
